
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<ul>
    <li><a href="~/Posts/Index">Posts</a></li>
    <li><a href="~/ApplicationUsers">Users</a></li>
</ul>

