@model MVCBlogDemo.Models.Post

@Html.Hidden("getDeletePath", @Url.Action("DeletePost", "Posts"))

@if (Model.Author.UserName == User.Identity.Name)
{
    <div class="editDelete">
        <a href="~/Posts/Edit/@Model.Id">Edit</a> |
        <a tabindex="0" class="deletePopover" role="button" data-toggle="popover" data-trigger="focus" title="Are you sure?">Delete</a>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $('.deletePopover').popover({
            html: true,
            content: '<button id="@Model.Id" class="btn btn-danger deletePost">Delete Post</button>'
        });

        $('body').off('click');
        $('body').on('click', '.popover button', function (event) {
            AJAXDelete(event);
        });

        function AJAXDelete(event) {
            $.ajax({
                type: 'POST',
                url: $('#getDeletePath').val(),
                data: { id: Number($(event.target).attr('id')) },
            });
            $(event.target).parents('.postBlock').html("<hr /><div class='success'>Post Deleted</div>");
        };
    </script>
}
